#stein-chat-tab-container{
	
}
.stein-chat-tab{
    color: white;
    background: rgb(176, 137, 96);
    border-radius: 10px 10px 0 0;
    border: 4px solid rgb(38, 33, 25);
    border-bottom: 0;
    padding: 3px;
    display: inline-block;
    text-align: center;
	cursor: pointer;
	font-size: 1.1em;
}