#stein-chat-tab-container{
}
#stein-chat-container-content{
	margin-top: 0;
}
.stein-chat-tab{
    color: white;
    background: rgb(125, 97, 67);
    border-radius: 10px 10px 0 0;
    border: 4px solid rgb(38, 33, 25);
    border-bottom: 0;
    padding: 5px;
    display: inline-block;
    text-align: center;
	cursor: pointer;
	font-size: 1.1em;
}
.stein-chat-tab.active{
	background: rgb(176, 137, 96);
}